.page-title {
    font-size: 3rem;
    padding: 15px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 500px;
}

.input-text {
    border: 0px solid grey;
    height: 25px;
    border-radius:5px;
    width: 100%;
    min-width: 320px;
    max-width: 350px;
    margin: 5px;
    padding: 5px 10px;
    background: white;
    color: #000000;
}

.input-text:focus-visible {
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 5px;
}

.button {
    width: 160px;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    margin: 5px;
}