.new-account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 500px;
}

.page-title {
    font-size: 3rem;
    margin: 15px;
    border-bottom: 2px solid grey;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 500px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 5px;
}